      <table style="table-layout: fixed">
      <tr>
  <% @menus.each do |menu| %>
     <td class="items">
      <div class='main_p'>
        <%= image_tag(menu.image_url) %>
        <div class="one">
          <h4><%= menu.title %></h4>
          <p class="desc"><%= sanitize(menu.description) %></p>
        </div>  
        <div class="price_line">
          <span class="price"><%= number_to_currency(menu.price) %>
	  <%=button_to "Add to Lunch", line_items_path(menu_id: menu),remote: true,:class => 'btn btn-default' %>
	</div> 
      </div>
      </td>
  <% end %>
      </tr>
      </table>
